<div class="about-component">
  <div class="intro">
    <div class="container">
      <h1>ABOUT</h1>
    </div>
  </div>
  <div class="breadcrumbs">
    <div class="container">
      <p>Home / About</p>
    </div>
  </div>
  <div class="comp-body">
    <div class="container">
      <div class="content">
        <section class="skills">
          <div class="tech-header">
            <h3>My Skills:</h3>
          </div>
          <div class="tech-progress-bar">
            <div 
                class="progress-bar" 
                *ngFor="let skill of skillsProgress">
              <h4>{{skill.title}}</h4>
              <mat-progress-bar
                mode="determinate"
                value={{skill.value}}
              ></mat-progress-bar>
              <span>{{skill.value}}%</span>
            </div>
          </div>
        </section>
        <section class="exp">
          <h3>Experience: </h3>
            <mat-card 
              *ngFor="let exp of experience"
              class="exp-card">
              <h4>{{exp.title}}</h4>
              <h5>{{exp.position}} - {{exp.period.from}}- {{exp.period.from}}</h5>
              <p>{{exp.content}}</p>
            </mat-card>
        </section>
        <section class="tech-logos">
            <div class="stack-header">
              <h3>My Tech Stacks:</h3>
            </div>
            <div class="tech-logo-icons">
              <img
                *ngFor="let logo of techLogos"
                src={{logo.source}}
                alt={{logo.title}}
                matTooltip={{logo.title}}
              />
            </div>
          </section>
      </div> 
      <!-- end content  -->
      <div class="">
        <section>
          <!-- <h4>Aside</h4>
            <p>Coming Soon!</p> -->
        </section>
      </div>
    </div>
  </div>
</div>
