<div class="about-component">

  <div class="intro">
    
    <div class="container">
      <h1>ABOUT</h1>
    </div>
  </div>
  <div class="breadcrumbs">
    <div class="container">
        <p>Home / About</p>
    </div>
  </div>
  <div class="comp-body"> 
      <div class="container">
        <div class="content">
            <section class="skills">
                <div class="tech-header">
                  <h3>My Skills:</h3>
                </div>
                <div class="tech-progress-bar">
                    <div class="progress-bar">
                        <h4>Angular </h4>
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        <span>90%</span>
                    </div>
                    <div class="progress-bar">
                        <h4>Node.js</h4>
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                        <span>80%</span>
                    </div>
                    <div class="progress-bar">
                        <h4>JavaScript</h4>
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        <span>90%</span>
                    </div>
                    <div class="progress-bar">
                        <h4>Java</h4>
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        <span>70%</span>
                    </div>
                    <div class="progress-bar">
                        <h4>Python</h4>
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        <span>70%</span>
                    </div>
                <!-- <particles [style]="style" [width]="width" [height]="height" [params]="params">
                  </particles> -->
                </div>


            </section>
            <section class="tech-logos">
              <div class="stack-header">
                <h3>My Tech Stacks:</h3>
              </div>
              <div class="tech-logo-icons">
                  <fa-icon [icon]="['fab','angular']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','node']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','js']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','html5']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','css3']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','sass']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','php']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','java']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','python']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fas','database']" size="3x"></fa-icon>
                  <fa-icon [icon]="['fab','aws']" size="3x"></fa-icon>
              </div>
            </section>
        </div>
        <div class="aside">
          <section>
            <h4>Aside</h4>
            <p>Coming Soon!</p>
          </section>
        </div>
      </div>
  </div>
</div>