<div class="projects-component">
    <div class="intro">
      <div class="container">
        <h1>PROJECTS</h1>
      </div>
    </div>
    <div class="breadcrumbs">
      <div class="container">
          <p>Home / Projects</p>
      </div>
    </div>
    <div class="comp-body">
        <div class="container">
          <div class="content">
              <div class="projects-tiles">
                  <div class="tile">
                      <img src="../../assets/images/Projects/millenniumled.png" alt="MillenniumLED">
                  </div>
                  <div class="tile">
                      <img src="../../assets/images/Projects/web-tech-1.png" alt="Web Technology I - Porject">
                  </div>
                  <div class="tile">
                      <img src="../../assets/images/Projects/web-tech-2.png" alt="Web Technology II - Porject">
                  </div>
                  <!-- <mat-grid-list cols="2" rowHeight="2:1">
                      <mat-grid-tile>
                        
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <img src="../../assets/images/Projects/web-tech-2.png" alt="">
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <img src="../../assets/images/Projects/millenniumled.png" alt="">
                      </mat-grid-tile>
                    </mat-grid-list> -->
    
              </div>
          </div>
          <div class="aside">
            <section>
              <h4>aside</h4>
              <p>Coming Soon!</p>
            </section>
          </div>
        </div>
    </div>
</div>