<div class="contact-component">
    <div class="intro">
      <div class="container">
        <h1>CONTACT</h1>
      </div>
    </div>
    <div class="breadcrumbs">
      <div class="container">
          <p>Home / Contact</p>
      </div>
    </div>
    <div class="comp-body">
        <div class="container">
          <div class="content">
              <section class="contact-details">
                <h3>See you:</h3>
                <div>
                  <ul>
                    <li><i class="material-icons">phone</i> 
                        <a href="tel:6475635363" > (647)-563-5363 </a></li>
                    <li><i class="material-icons">plocation_on</i>
                        <span>Toronto, Canada</span> </li>
                    <li><i class="material-icons">email</i> 
                        <a href="mailto:sahilmanjiyani14@hotmail.com">
                          sahilmanjiyani14@hotmail.com</a></li>
                  </ul>
                </div>
                <div class="g-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152659.28543970262!2d-79.3569924041066!3d43.681148922530866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C+ON!5e0!3m2!1sen!2sca!4v1556007723747!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </section>
          </div>
          <div class="aside">
            <section>
              <h4>aside</h4>
              <p>Coming Soon!</p>
            </section>
          </div>
        </div>
    </div>
</div>