<div class="blog-component">
    <div class="intro">
      <div class="container">
        <!-- use the pipe filter for title -->
        <h1>BLOG</h1> 
      </div>
    </div>
    <div class="breadcrumbs">
      <div class="container">
        <!-- fetch page title -->
          <p>Home / Blog</p>
      </div>
    </div>
    <div class="comp-body">
        <div class="container">
          <div class="content">
              <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      <img src="../../assets/images/Projects/millenniumled.png" alt="MillenniumLED">
                      <span>the name of a book, composition, or other artistic work.</span>  
                      </mat-panel-title>
                      <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      <img src="../../assets/images/Projects/millenniumled.png" alt="MillenniumLED">
                      <span>the name of a book, composition, or other artistic work.</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      <img src="../../assets/images/Projects/millenniumled.png" alt="MillenniumLED">
                      <span>the name of a book, composition, or other artistic work.</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </mat-expansion-panel>
                </mat-accordion>
                
          </div>
          <div class="aside">
            <section>
              <h4>Aside</h4>
              <p>underconstruction!</p>
            </section>
          </div>
        </div>
    </div>
</div>