<div class="home-component">
  <div class="container">
      <section class="intro">
        <div class="intro-container">
          <div class="intro-content">
            <div>
              <div class="heading">
                <h1>Sahil Manjiyani</h1>
                <h3>Software Developer</h3>
              </div>
              <div class="details">
                <ul>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  <li><a href=""><i class="fa fa-stack-overflow"></i></a> </li>
                  <li><a href=""><i class="fa fa-github-square"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="intro-image">
            <!-- <img  src="../../assets/images/20190128_103434.jpg" alt=""> -->
          </div>
        </div>
      </section>
      <section class="my-expertise">
        <div class="expertise-header">
          <h2>What I do</h2>
          <mat-divider></mat-divider>
        </div>
        <div class="expertise-card">
          <mat-card class="example-card">
            <mat-card-content>
              <fa-icon class="bullseye" [icon]="['fas','bullseye']" size="2x" ></fa-icon>
              <h4>UI Design</h4>
              <p>
                Fresh and user friendly User Interface Design(UI).  
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-content>
              <fa-icon class="code" [icon]="['fas','code']" size="2x" ></fa-icon>
              <h4>Web Development</h4>
              <p>
                Full-Stack Web Developer with modern technology stack.                
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="">
            <mat-card-content>
              <fa-icon class="terminal" [icon]="['fas','terminal']" size="2x" ></fa-icon>
              <h4>App Development</h4>
              <p>
                Experience in Web Application Development.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </section>
      <!-- <section class="blog-compartment">
        <div class="blog-header">
          <h2>Blog</h2>
          <mat-divider></mat-divider>
        </div>
        <div class="blog-cards">
            <mat-card class="example-card">
              <img mat-card-image src="../../assets/images/Projects/millenniumled.png" alt="Photo of a Shiba Inu">
              <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                  <img mat-card-image src="../../assets/images/Projects/millenniumled.png" alt="Photo of a Shiba Inu">
                  <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <img mat-card-image src="../../assets/images/Projects/millenniumled.png" alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
        </div>
      </section> -->
      <!-- <section class="project-compartment">
        <div class="project-header">
          <h2>Projects</h2>
          <mat-divider></mat-divider>
        </div>
        <div class="project-cards">
          Underconstruction!
        </div>
      </section>
      <section class="recommendation-compartment">
          <div class="recommendation-header">
            <h2>Recommendation</h2>
            <mat-divider></mat-divider>
          </div>
          <div class="recommendation-cards">
            Underconstruction!
          </div>
        </section> -->
  </div>
</div>

